params {
    // Configuration pour tests locaux avec données IMPUTE5
    config_profile_name        = 'Test profile with local IMPUTE5 data'
    config_profile_description = 'Minimal test dataset to check pipeline function with local data'
    
    // Limiter les ressources pour les tests
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
    
    // Input data
    input = 'subworkflows/local/backup_impute5/tests/testdata/target_samplesheet.csv'
    
    // Steps et tools
    steps = 'impute'
    tools = 'impute5'
    
    // Panel
    panel = 'subworkflows/local/backup_impute5/tests/testdata/panel_samplesheet.csv'
    
    // Map génétique
    map = 'subworkflows/local/backup_impute5/tests/testdata/map_samplesheet.csv'
    
    // Régions
    input_region = 'subworkflows/local/backup_impute5/tests/testdata/region_samplesheet.csv'
    
    // Références
    fasta = 'subworkflows/local/backup_impute5/tests/testdata/reference.fa'
    fasta_fai = 'subworkflows/local/backup_impute5/tests/testdata/reference.fa.fai'
    
    // Paramètres IMPUTE5 pour données de test
    skip_impute5_chunking = true
    
    // Autres paramètres nécessaires
    outdir = './results_impute5_local'
}