process {
    // Configuration for the IMPUTE5 imputation subworkflow

    // IMPUTE5 Subworkflow processes
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCFCHREXTRACT_IMPUTE5' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/extract/" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_CHUNK' {
        ext.args = { params.chunk_args ?: "" }
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/chunk/" },
            mode: params.publish_dir_mode,
            pattern: "chunks_*.txt",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_CONVERTREF' {
        ext.args = { params.convertref_args ?: "" }
        ext.prefix = { "${meta.id}_chr${meta.chr}" }  
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/convertref/" },
            mode: params.publish_dir_mode,
            pattern: "*_xcf.*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_IMPUTE' {
        ext.args = { params.impute_args ?: "" }
        ext.prefix = { "${meta.id}_chr${meta.chr}_imputed" }  
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/impute/" },
            mode: params.publish_dir_mode,
            pattern: "*_imputed.{bcf,log}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Concatenate the imputed chunks
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_IMPUTE5:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_IMPUTE5:BCFTOOLS_CONCAT' {
        ext.args   = ["--naive", "--output-type z", "--write-index=tbi"].join(' ')  // --naive au lieu de --ligate
        ext.prefix = { "${meta.id}.impute5" }  // Simplifié sans batch car vous l'avez nettoyé
    }
}